.footer {
  /* overflow: hidden; */
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.footer > a {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}

.footer > div {
  /* flex-grow: 1;
  transform: translateY(-10px);
  text-align: center; */
  position: relative;
  min-width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  top: -40px;
  scale: 1.1;
}

.icon {
  padding: 1rem 2rem;
}

/* ! Change Style of Active Class*/
a.active {
  background-color: black;
}
